PUBLIC_VAPID_KEY=VALID_PUBLIC_VAPID_KEY #65 bits
PRIVATE_VAPID_KEY=VALID_PRIVATE_VAPID_KEY #32 bits
# This must be either a URL or a 'mailto:' address.
# For example: 'https://my-site.com/contact' or 'mailto: contact@my-site.com'
WEB_PUSH_CONTACT="mailto: diego@my-site.com"